{% extends 'budget/base.html' %}
{% load static %}
{% load tr_tags %}
{% block content %}
    {% load l10n %}
<body>
        <div class="container">
            <div class="title__single">Транзакция</div>
            <form method="post" onsubmit="return submitForm();">
            {% csrf_token %}
                <div class="tr__upper">
                    <input class="form__control form__sm row__2" type="date" id="start" name="operation_date"
                        value="{{ date }}">
                    <select class="form__select form__sm row__2" name="operation_type">
                        {% if operation_summ > 0 %}
                            <option selected value="in">Приход</option>
                        {% endif %}
                        {% if operation_summ < 0 %}
                            <option selected value="out">Расход</option>
                        {% endif %}

                        <option value="out">Расход</option>
                        <option value="in">Приход</option>
                    </select>
                </div>
                <hr class="top__hr">

                <div class="input__group">

                <input onfocus="this.select();" id="summ" type="number" step="0.01" name="operation_summ" class="form__control form__sm" placeholder="Сумма"
                       {% if request.resolver_match.url_name == 'transaction_update' %}
                       value="{% localize off %}{{ operation_summ|abs }}{% endlocalize %}"
                       {% endif %}
                       required>

                <input id="showCalculator" class="form__control" type="button" value="->">
                </div>

                <div id="calculatorBox" class="calculator__body hide">
                    <div class="calculator-grid">
                        <div class="output">
                            <div data-previous-operand class="previous-operand"></div>
                            <div data-current-operand class="current-operand"></div>
                        </div>
                        <div data-all-clear class="span-two bbb">AC</div>
                        <div class="bbb" data-delete>DEL</div>
                        <div class="bbb orange" data-operation>÷</div>
                        <div class="bbb" data-number>1</div>
                        <div class="bbb" data-number>2</div>
                        <div class="bbb" data-number>3</div>
                        <div class="bbb orange" data-operation>*</div>
                        <div class="bbb" data-number>4</div>
                        <div class="bbb" data-number>5</div>
                        <div class="bbb" data-number>6</div>
                        <div class="bbb orange" data-operation>+</div>
                        <div class="bbb" data-number>7</div>
                        <div class="bbb" data-number>8</div>
                        <div class="bbb" data-number>9</div>
                        <div class="bbb orange" data-operation>-</div>
                        <div class="bbb dot" data-number>.</div>
                        <div class="bbb " data-number>0</div>
                        <div data-equals class="span-two bbb orange eq">=</div>

                    </div>
                </div>


                <h5 class="select__label">Счёт</h5>
                <select name="account" class="form__select form__sm" id="account">

                    <option selected value="{{ default_account.pk }}">{{ default_account.name }}</option>

                    {% for el in money_accounts %}
                    <option value="{{ el.pk }}">{{ el.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="header__datalist__code input__group">
                    <input class="form__control form__sm" type="button" value="->" id="headerButton">
                </div>
                <br>
                <input onfocus="this.select();" type="text" name="category" class="form__control form__sm" list="datalistOptions1" id="category"
                    placeholder="Категория" value="{{ category }}" required>
                <datalist id="datalistOptions1">
                    {% for el in categories %}
                    <option value="{{ el.name }}">
                        {% endfor %}
                </datalist>
                <br>
                <input onfocus="this.select();" type="text" name="subcategory" class="form__control form__sm" list="subcategory"
                    id="exampleDataList2" placeholder="Подкатегория" value="{{ subcategory }}" required>
                <datalist id="subcategory">
                    {% for el in subcategories %}
                    <option value="{{ el.name }}">
                        {% endfor %}
                </datalist>
                <br>

                <input type="text" name="comment" class="form__control form__sm" placeholder="Комментарий"
                    value="{{ comment }}">
                <br>

                {% if request.resolver_match.url_name == 'transaction_update' and past == 0 %}
                <input name="deactivate" class="form__check" type="checkbox" value="0" id="deactivate">
                <label class="form-check-label" for="deactivate">Деактивировать</label>
                <br>
                <br>
                {% endif %}
                {% if request.resolver_match.url_name == 'transaction_update' and past == 1 %}
                <input name="activate" class="form__check" type="checkbox" value="0" id="activate">
                <label class="form-check-label" for="activate">Активировать</label>
                <br>
                <br>
                {% endif %}

                {% if request.resolver_match.url_name == 'transaction_create' %}
                <input name="plain" class="form__check plain" type="checkbox" value="1" id="plain">
                <label class="form-check-label" for="plain">Планируемая</label>
                <!-- <br> -->
                <br>
                <div class="tr__upper">
                    <select name="period" class="form__select period form__sm row__2 plain__fields hide" id="period">
                        <option value="once">Разовая</option>
                        <option value="daily">Ежедневная</option>
                        <option value="monthly">Ежемесячная</option>
                    </select>
                    <input class="form__control form__sm trip-end row__2 plain__fields hide" type="date" id="end"
                        name="trip-end" value="{{ default_date }}" disabled>
                    <input class="form__control form__sm trip-end row__2 plain__fields hide" style="width: 20%" type="number" id="count"
                        name="count" value="1" disabled>
                </div>

                {% endif %}
<!--                <br class="plain__fields hide">-->
<!--                <br class="plain__fields hide">-->
                <div class="tr__upper tr__upper__left">
                    <input type="submit" class="btn btn__green" name="add" value="Отправить" id="submit">
                    {% if request.resolver_match.url_name == 'transaction_create' %}
                    <input type="submit" class="btn btn__green" name="copy" value="+Отправить" id="submitCopy">
                    {% endif %}
                    {% if request.resolver_match.url_name == 'transaction_update' %}
                    <input id="delete" type="button" class="btn btn__red"
                        onclick="window.location.href='{% url 'transactionapp:transaction_delete' object.pk %}';" value="Удалить" />
                    {% endif %}
                    <input id="close" type="button" class="btn btn__red"
                        onclick="window.location.href='{% url 'index' %}';" value="Закрыть" />
                </div>
            </form>
        </div>
        <script>
            $("#submit").click(function () {
                var checkbox_state = $("#activate").prop('checked');
                if (checkbox_state === true) {
                    var account = $("#account").val();
                    if (account === '') {
                        alert('Выберите счёт')
                        return false
                    }
                }
            });
            $(".period").on('change', function () {
                var target = $('.period').val();
                if (target === "once") {
                    $('.trip-end').prop('disabled', true)
                } else {
                    $('.trip-end').prop('disabled', false)
                }
            });
            $(".plain").on('change', function () {
                if ($('.plain').prop('checked')) {
                    $(".plain__fields").show()
                } else {
                    $(".plain__fields").hide()
                }
            });
            $("#submit").click(function () {
                var checkbox_state1 = $("#plain").prop('checked');
                var period = $("#period").val();
                if ((checkbox_state1 === true) && ((period === 'daily') || (period === 'monthly'))) {
                    var startDate = new Date($('#start').val());
                    var endDate = new Date($('#end').val());
                    if (endDate <= startDate) {
                        alert('Дата окончания должна быть больше даты начала');
                        return false;
                    }
                }
            });
        </script>
        <script>
            function submitForm() {
                return (true)
            }
        </script>
        <script>
            const htmlIphone = `<input onfocus="this.select();" type="text" name="header" class="form__control form__sm" list="datalistOptions"
                    id="searchHeader" placeholder="Заголовок" value="{{ header }}" autocomplete="off" minlength="2" required>
                    <datalist id="datalistOptions" style="height:5.1em; overflow: hidden;">
                    {% for el in headers %}
                    <option value="{{ el.name }}">
                    {% endfor %}
                    </datalist>`
            const htmlOther = `<template id="resultstemplateHeader">
                    {% for el in headers %}
                    <option class="header">{{ el.name }}</option>
                    {% endfor %}
                    </template>
                    <input onfocus="this.select();" type="text" value="{{ header }}" name="header" placeholder="Заголовок" id="searchHeader"
                    list="searchresultsHeader" class="form__control form__sm" autocomplete="off" required />
                    <datalist id="searchresultsHeader"></datalist>`
            const headerBlock = document.querySelector('.header__datalist__code')

            function datalistLimitter(searchArg, resultsArg, templatContentArg, size) {
                const search = document.querySelector(searchArg);
                const results = document.querySelector(resultsArg);
                const templateContent = document.querySelector(templatContentArg).content;
                search.addEventListener('keyup', function handler(event) {
                    let inputVal = new RegExp(search.value.trim(), 'i');
                    let itemsList = []
                    results.innerHTML = ''
                    for (child of templateContent.children) {
                        if (inputVal.test(child.textContent) && (itemsList.length < size)) {
                            itemsList.push(child.cloneNode(true))
                        }
                    }
                    for (el of itemsList) {
                        results.appendChild(el)
                    }
                    if (results.children.length === 1 && results.children[0].innerHTML === search.value) {
                        results.innerHTML = ''
                        addValuesToForm()
                    }
                })
                return;
            }
            if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                headerBlock.insertAdjacentHTML('afterbegin', htmlIphone)
            } else {
                headerBlock.insertAdjacentHTML('afterbegin', htmlOther)
                datalistLimitter('#searchHeader', '#searchresultsHeader', '#resultstemplateHeader', 4);
            }
        </script>
        <script>
            cat = document.querySelector('#category')
            subcat = document.querySelector('#exampleDataList2')
            document.querySelector('#headerButton').addEventListener('click', (event) => {addValuesToForm()})
            function addValuesToForm() {
            header = document.querySelector('#searchHeader').value;
                if (header) {
                {#url = `/transactionapp/transactions/autoform/${header}`#}
                djangoUrl = "{% url 'transactionapp:tr_autoform' 'header' %}"
                url = djangoUrl.replace('header', header)
                fetch(url).then(function (response) {
                    response.json().then(function(data) {
                        cat.value = data.cat
                        subcat.value = data.subcat
                    })
                })}
            }
        </script>
<script>
        class Calculator {
            constructor(previousOperandTextElement, currentOperandTextElement) {
                this.previousOperandTextElement = previousOperandTextElement
                this.currentOperandTextElement = currentOperandTextElement
                this.clear()
            }

            clear() {
                this.currentOperand = ''
                this.previousOperand = ''
                this.operation = undefined
                this.summField = document.getElementById('summ')
                this.calcBox = document.getElementById('calculatorBox')
                this.calcButton = document.getElementById('showCalculator')
                this.calcButton.addEventListener( "click" , () => this.calcBox.classList.toggle('hide'));
            }

            delete() {
                this.currentOperand = this.currentOperand.toString().slice(0, -1)
            }

            appendNumber(number) {
                if (number === '.' && this.currentOperand.includes('.')) return
                this.currentOperand = this.currentOperand.toString() + number.toString()
            }

            chooseOperation(operation) {
                if (this.currentOperand === '') return
                if (this.previousOperand !== '') {
                    this.compute()
                }
                this.operation = operation
                this.previousOperand = this.currentOperand
                this.currentOperand = ''
            }

            compute() {
                let computation
                const prev = parseFloat(this.previousOperand)
                const current = parseFloat(this.currentOperand)
                if (isNaN(prev) || isNaN(current)) return
                switch (this.operation) {
                    case '+':
                        computation = prev + current
                        break
                    case '-':
                        computation = prev - current
                        break
                    case '*':
                        computation = prev * current
                        break
                    case '÷':
                        computation = prev / current
                        break
                    default:
                        return
                }
                this.currentOperand = computation
                this.operation = undefined
                this.previousOperand = ''
            }

            getDisplayNumber(number) {
                const stringNumber = number.toString()
                const integerDigits = parseFloat(stringNumber.split('.')[0])
                const decimalDigits = stringNumber.split('.')[1]
                let integerDisplay
                if (isNaN(integerDigits)) {
                    integerDisplay = ''
                } else {
                    integerDisplay = integerDigits.toLocaleString('en', { maximumFractionDigits: 0 })
                }
                if (decimalDigits != null) {
                    return `${integerDisplay}.${decimalDigits}`
                } else {
                    return integerDisplay
                }
            }

            updateDisplay() {
                this.currentOperandTextElement.innerText =
                    this.getDisplayNumber(this.currentOperand)
                if (this.operation != null) {
                    this.previousOperandTextElement.innerText =
                        `${this.getDisplayNumber(this.previousOperand)} ${this.operation}`
                } else {
                    this.previousOperandTextElement.innerText = ''
                }
            }

            getEqual() {
                this.summField.value = this.currentOperand
                this.calcBox.classList.toggle('hide')
            }
        }


        const numberButtons = document.querySelectorAll('[data-number]')
        const operationButtons = document.querySelectorAll('[data-operation]')
        const equalsButton = document.querySelector('[data-equals]')
        const deleteButton = document.querySelector('[data-delete]')
        const allClearButton = document.querySelector('[data-all-clear]')
        const previousOperandTextElement = document.querySelector('[data-previous-operand]')
        const currentOperandTextElement = document.querySelector('[data-current-operand]')

        const calculator = new Calculator(previousOperandTextElement, currentOperandTextElement)

        numberButtons.forEach(button => {
            button.addEventListener('click', () => {
                calculator.appendNumber(button.innerText)
                calculator.updateDisplay()
            })
        })

        operationButtons.forEach(button => {
            button.addEventListener('click', () => {
                calculator.chooseOperation(button.innerText)
                calculator.updateDisplay()
            })
        })

        equalsButton.addEventListener('click', button => {
            calculator.compute()
            calculator.updateDisplay()
            calculator.getEqual()
        })

        allClearButton.addEventListener('click', button => {
            calculator.clear()
            calculator.updateDisplay()
        })

        deleteButton.addEventListener('click', button => {
            calculator.delete()
            calculator.updateDisplay()
        })
    </script>
</body>
{% endblock %}