{% extends 'budget/base.html' %}
{% load static %}
{% load tr_tags %}
{% block content %}
<body>
<div class="container">
    {% for object in object_list %}
        {% ifchanged object.operation_date %}
            <div class="total__box" id="{{ object.operation_date|date:"d-m-Y" }}">
                <div class="t__left">
                    <div class="t__int">{{ object.operation_date|date:"d-m-Y" }}</div>
                    <div class="t__str">{{ object.operation_date|date:"D" }}</div>
                </div>
                <div class="t__right">
                    <div class="t__str">Баланс:&nbsp;</div>
                    {% with date=object.operation_date|date:"d-m-Y" %}
                    <div class="t__int num {% if total|get_item:date > 0 %}green__color{% else %}red__color{% endif %}">
                        {{ total|get_item:date }}
                    </div>
                    {% endwith %}
                </div>
            </div>
        {% endifchanged %}
        <a href="{% if object.transfer_id %}
                   {% url 'transactions:transfer_update' object.transfer_id %}
                 {% else %}
                   {% url 'transactions:transaction_update' object.pk %}
                 {% endif %}"
           class="tr__box {% if object.transfer_id %}transfer__color{% endif %} {% if object.past == 1 %}past__color{% endif %}">
            <div class="tr__box__row">
                <div><b>{% if not object.transfer_id %}{{ object.header }}{% else %}{{ object.comment }}{% endif %}</b>
                </div>
                <div class="num {% if object.operation_summ > 0 %}green__color{% else %}red__color{% endif %}">
                    {{ object.operation_summ }}
                </div>
            </div>
            {% if not object.transfer_id %}
                <div class="tr__box__row">
                    <div>{{ object.category }}</div>
                    <div>{{ object.account }}</div>
                </div>
            {% endif %}
            <div class="tr__box__row">
                <div>
                    {% if not object.transfer_id %}{{ object.subcategory }}{% else %}{{ object.account }}{% endif %}
                </div>
                <div>{{ object.operation_date|date:"d-m-Y" }}</div>
            </div>
        </a>
    {% endfor %}
</div>
<div class="clear__block"></div>
{% include 'includes/inc_main_menu.html' %}
<script>
    $('.num').each(function () {
        this.innerHTML = parseFloat(this.textContent)
            .toLocaleString('ru-RU')
    })
</script>
</body>
{% endblock %}


