{% extends 'budget/base.html' %}
{% load static %}
{% load tr_tags %}
{% block content %}
    <body>
    <div class="container">
        <div class="title__single">Перевод</div>
        <br>
        <form method="post">
        {% csrf_token %}
            <div class="tr__upper">
                <input class="form__control form__sm" type="date" id="start" name="trip-start"
                       value="{{ date }}">
            </div>

            <hr class="top__hr">
            <input onfocus="this.select();" type="number" step="0.01" name="summ" class="form__control"
                   placeholder="Сумма" value="{{ summ }}" required><br>
            <h4 class="select__label">Откуда</h4>
            <select name="money_account_from" class="form__select form__sm">
                <option selected value="{{ account_from.pk }}">{{ account_from.name }}</option>
                {% for el in money_accounts %}
                    <option value="{{ el.pk }}">{{ el.name }}</option>
                {% endfor %}
            </select>
            <h4 class="select__label">Куда</h4>
            <select name="money_account_to" class="form__select form__sm">
            <option selected value="{{ account_to.pk }}">{{ account_to.name }}</option>
                {% for el in money_accounts %}
                    <option value="{{ el.pk }}">{{ el.name }}</option>
                {% endfor %}
            </select>
            <br>
            <div class="tr__upper tr__upper__left">
                <input id="submit" type="submit" class="btn btn__green" value="Отправить">
                {% if request.resolver_match.url_name == 'transfer_update' %}
                    <input id="delete" type="button" class="btn btn__red"
                        onclick="window.location.href='{% url 'transactionapp:transfer_delete' transfer_id %}';" value="Удалить" />
                    {% endif %}
                <input id="close" type="button" class="btn btn__red" onclick="window.location.href='{% url 'index' %}';"
                       value="Закрыть"/>
            </div>
        </form>
    </div>
    </body>
{% endblock %}