html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f8f9fa;
}

.container {
    max-width: 720px;
    display: block;
    flex: 1 0 auto;
    padding: 5px;
    margin: 0 auto;
}

.tr__box {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0.1em 0.1em 5px rgba(122, 122, 122, 0.5);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.tr__box__row {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.green__color {
    color: green;
}

.red__color {
    color: red;
}

.transfer__color {
    background-color: Honeydew;
}

.past__color {
    background-color: lightgray !important;
}

.total__box {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.t__left {
    display: flex;
    align-items: flex-end;
}

.t__int {
    font-size: 20px;
}

.t__str {
    font-size: 12px;
    margin-bottom: 4px;
}

.t__right {
    display: flex;
    align-items: flex-end;
}

.clear__block {
    height: 17vh;
}

.fix__footer {
    background: white;
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-top: black 1px solid;
    z-index: 100;
}

.hide {
    display: none !important;
}

.tr__box__acc1 {
    display: inline-block;
}

.down__menu1 {
    display: block;
    border-radius: 18px;
    padding: 0 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.new__nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    margin: 10px 0;
}

.right__arrow {
    padding-left: 5px;
}

.left__arrow {
    padding-right: 5px;
}

.nav__img {
    width: 24px;
    height: 24px;
    display: block;
}

.title__single {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

.tr__upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.form__control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    box-sizing: border-box;
    font-size: 18px;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form__select {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    box-sizing: border-box;
    font-size: 18px;
    font-family: inherit;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form__sm {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: 14px;
}

.row__2+.row__2 {
    margin-left: 20px;
}

.top__hr {
    margin-bottom: 15px
}

.input__group {
    display: flex;
}

.input__group .form__control[type='text'] {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input__group :last-child {
    width: 40px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: none;
    text-align: center;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    background: transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn__green {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn__green:hover {
    background-color: #12643e;
}

.btn__red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn__red:hover {
    background-color: #8a1723;
}

.btn__green+.btn__red {
    margin-left: 10px;
}

.btn__green+.btn__green {
    margin-left: 10px;
}

.btn__green+.btn__red+.btn__red {
    margin-left: 10px;
}

.btn__green+.btn__green+.btn__red {
    margin-left: 10px;
}

.transition__item-enter {
    opacity: 0;
}

.transition__item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition__item-exit {
    opacity: 1;
}

.transition__item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.form__check {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
}

.transition__box-enter {
    opacity: 0;
}

.transition__box-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition__box-exit {
    opacity: 1;
}

.transition__box-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.no__radius {
    border-radius: 0px !important;
}

.black__color {
    color: black;
}

.transparent__color {
    background-color: transparent !important;
}

.tr__box__acc {
    text-decoration: none;
    font-size: 18px;
    background-color: white;
    padding: 0 5px;
    min-height: 40px;
    display: inline-block;
    line-height: 40px;
}

.report__box {
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    padding: 0 5px;
    min-height: 40px;
    display: inline-block;
    line-height: 40px;
    width: 33%;
}

.border__right {
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.end__text {
    text-align: end;
}

.back__red {
    background-color: lightcoral !important;
}

.back__green {
    background-color: lightgreen !important;
}

.modal {
    margin-top: 20px;
    background: white;
    position: fixed;
    top: 10px;
    left: 50%;
    width: 90vw;
    max-width: 680px;
    transform: translateX(-50%);
    z-index: 200;
    overflow: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 5px rgba(122, 122, 122, 0.5);
    border: 1px solid rgba(0, 0, 0, .125);
    max-height: 50vh;
}

.height__63 {
    height: 63px !important;
}

.no__shadow {
    box-shadow: unset !important;
}

.double__button {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
}

.footer__button {
    text-decoration: none;
    text-align: center;
    border: black 1px solid;
    padding: 7px;
    border-radius: 4px;
    color: black;
}


.single__element__center {
    display: flex;
    justify-content: center;
}

.tr__upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.tr__upper__left {
    justify-content: left;
}

.settings__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.settings__pt {
    font-size: 24px;
}

.fix__footer {
    background: white;
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-top: black 1px solid;
}

.height__100 {
    height: 110px;
}

.select__label {
    margin-bottom: 10px;
}

.budget__row {
    justify-content: flex-start !important;
    font-size: 12px !important;
    background: transparent;
}

.font__13 {
    font-size: 14px;
}

.light__red {
    background: pink;
}

.border__5px {
    border: 5px solid black;
}

.datalist__elements {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    z-index: 999;
}

.datalist__element {
    font-size: 15px;
    border-radius: 5px;
    border: lightgray 1px solid;
    padding: 0 5px;
    margin-top: 3px;
    margin-right: 2px;
    background: lightgray;
    font-weight: 450;
}

.my__select {
    height: 32px;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 0.3rem .5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
}